<div class="numeric-input">
  <div class="inputs">
    <input #formattedView type="text" (click)="_startEditing()" (focus)="_startEditing()" readonly
      value="{{_formattedNumber}}" [style.background-color]="_errMsg == '' ? '' : 'red'" class="form-control" />
    <input #numberInput (change)="_valueChanged($event.target.value)" type="text" pattern="[ ]*[+-]{0,1}\d*{{decimalCharacter}}{0,1}\d*[ ]*"
      (blur)="_stopEditing()" class="form-control" [hidden]="!_editing" />
  </div>
  <div class="messages">
    {{_errMsg}}
  </div>
</div>
